*, *::before, *::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Marcellus SC', serif;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar game"
        "footer footer";
    max-width: 1500px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid black;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid black;
}

.hoardImage {
    height: 400px;
    border-bottom: 1px solid black;
}

.goldDisplay {
    height: 125px;
    padding: 25px;
}

.goldDisplay p {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
}

#gold {
    color: #CDA71E;
    font-size: 2.5rem;
}

.storeButton {
    height: 45px;
    margin: 18px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    text-align: center;
    padding: 6px;
}

.storeButton:hover {
    background-color: lightgray;
}

.game {
    grid-area: game;
}

.questsBar {
    height: 160px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 120px);
}

.quest {
    border-right: 1px solid black;
    height: 100%;
    width: 120px;
}

.quest:hover {
    background-color: lightgray;
}

.quest p {
    margin: 0;
    text-align: center;
}

.questImage {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 5px 0 0 20px;
}

.progContainer {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

.progBar {
    background-color: #800000;
    width: 0%;
    height: 100%;
}

.minions {
    height: 466px;
    display: grid;
    grid-template-columns: repeat(5, 240px);
}

.minion {
    height: 100%;
    width: 240px;
    border-right: 1px solid black;
    padding: 5px;
}

.minion p {
    margin: 0;
    text-align: center;
}

.progContainerM {
    height: 20px;
    width: 220px;
    border: 1px solid black;
    margin-left: 4px;
}

.footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    grid-area: footer;
    height: 40px;
}

.hidden {
    display: none;
}