*, *::before, *::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Marcellus SC', serif;
    margin: 0;
    color: #f8f0d3;
    background-color: #06130d;
}

#grid {
    display: grid;
    grid-template-columns: 300px 1200px;
    grid-template-areas: 
        "header header"
        "sidebar game"
        "footer footer";
    max-width: 1500px;
    margin: 0 auto;
    border-left: 1px solid #f8f0d3;
    border-right: 1px solid #f8f0d3;
    background-color: #0d261a;
}

.header {
    grid-area: header;
    height: 51px;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #f8f0d3;
}

.userProfile {
    height: 51px;
    width: 51px;
    border-left: 1px solid #f8f0d3;
    float: right;
}

.userProfile:hover {
    background-color: #CDA71E;
    border-right: 1px solid #f8f0d3;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid #f8f0d3;
}

.hoardImage {
    height: 400px;
    border-bottom: 1px solid #f8f0d3;
}

.goldDisplay {
    height: 125px;
    padding: 25px;
}

.goldDisplay p {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
}

#gold {
    color: #CDA71E;
    font-size: 2.5rem;
}

.storeButton {
    height: 45px;
    margin: 18px 0;
    border-top: 1px solid #06130d;
    border-bottom: 1px solid #06130d;
    font-size: 1.5rem;
    text-align: center;
    padding: 6px;
    background-color: #CDA71E;
    color: #06130d;
}

.storeButton:hover {
    background-color: lightgray;
}

.game {
    grid-area: game;
    position: relative;
}

.questsBar {
    height: 160px;
    border-bottom: 1px solid #f8f0d3;
    display: grid;
    grid-template-columns: repeat(10, 120px);
}

.quest {
    border-right: 1px solid #f8f0d3;
    height: 100%;
    width: 120px;
}

#quest10 {
    border-right: none;
}

.quest:hover {
    background-color: #CDA71E;
    color: #06130d;
}

.quest:hover > * {
    border-color: #06130d;
}

.quest:hover .progBar {
    background-color: #0d261a;
}

.quest p {
    margin: 0;
    text-align: center;
}

.questImage {
    height: 80px;
    width: 80px;
    border: 1px solid #f8f0d3;
    margin: 5px 0 0 20px;
}

.progContainer {
    width: 100px;
    height: 20px;
    border: 1px solid #f8f0d3;
    margin-left: 10px;
    margin-top: 10px;
}

.progBar {
    background-color: #CDA71E;
    width: 0%;
    height: 100%;
}

.minions {
    height: 466px;
    display: grid;
    grid-template-columns: repeat(5, 240px);
}

.minion {
    height: 100%;
    width: 240px;
    border-right: 1px solid #f8f0d3;
    padding: 5px;
}

.minion p {
    margin: 0;
    text-align: center;
}

.progContainerM {
    height: 20px;
    width: 220px;
    border: 1px solid #f8f0d3;
    margin-left: 4px;
}

.footer {
    border-top: 1px solid #f8f0d3;
    border-bottom: 1px solid #f8f0d3;
    grid-area: footer;
    height: 40px;
}

.store {
    position: absolute;
    height: 626px;
    width: 1199px;
    background-color: #0d261a;
    top: 0px;
    display: grid;
    grid-template-columns: 800px 400px;
}

.storeMinions {
    border-right: 1px solid #f8f0d3;
}

.storeMinions p, .storeUpgrades p {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    height: 30px;
}

.storeMinionsGrid {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    margin: 10px 0 0 20px;
}

.storeMinionsItem, .storeUpgradesItem {
    border: 1px solid #f8f0d3;
    height: 130px;
    margin: 5px;
}

.storeMinionsItem:hover, .storeUpgradesItem:hover {
    background-color: #CDA71E;
}

.storeUpgradesGrid {
    display: grid;
    grid-template-columns: 190px 190px;
    margin: 10px 0 0 10px;
}

.userProfileOptions {
    position: absolute;
    max-height: 90px;
    width: 150px;
    background-color: #0d261a;
    top: 0px; right: 1px;
    border-left: 1px solid #f8f0d3;
    border-bottom: 1px solid #f8f0d3;
    display: grid;
}

.userProfileOptions > div {
    border-top: 1px solid #f8f0d3;
    padding-left: 5px;
}

.userProfileOptions > div:hover {
    background-color: #CDA71E;
    color: #06130d;
}

#userLogin {
    border: none;
}

.hidden {
    display: none;
}